.theme-loaded {
  transition: background-color 1s, color 1s; }
  .theme-loaded .cm-logo-svg {
    transition: filter 1s; }
  .theme-loaded .type, .theme-loaded .blockNav-title, .theme-loaded strong,
  .theme-loaded h1, .theme-loaded h2, .theme-loaded h3, .theme-loaded h4, .theme-loaded h5, .theme-loaded h6,
  .theme-loaded code, .theme-loaded pre {
    transition: color 1s, font-weight 1s; }
  .theme-loaded .wrapper, .theme-loaded .cm-logo, .theme-loaded .projectBlock-title .icon,
  .theme-loaded .projectBlock-sidebox,
  .theme-loaded hr {
    transition: background-color 1s, border-color 1s; }
  .theme-loaded .avatar, .theme-loaded .blockNav-link, .theme-loaded .content {
    transition: background-color 1s; }
  .theme-loaded .blockNav-link:after {
    transition: border-bottom-color 1s; }
  .theme-loaded .notes-lineItem,
  .theme-loaded .pageHeader .logoBlock, .theme-loaded .blockNav-item:not(:last-child) .blockNav-link,
  .theme-loaded .pageHeader .blockNav {
    transition: border-color 1s; }
  .theme-loaded .linkNav-link:hover {
    transition-duration: 100ms; }

.dark-theme {
  background-color: #222;
  color: #ddd; }
  .dark-theme .cm-logo-svg {
    filter: invert(1); }
  .dark-theme .type, .dark-theme .blockNav-title, .dark-theme strong,
  .dark-theme h1, .dark-theme h2, .dark-theme h3, .dark-theme h4, .dark-theme h5, .dark-theme h6 {
    color: #ddd; }
  .dark-theme .wrapper, .dark-theme .cm-logo, .dark-theme .projectBlock-title .icon {
    background-color: #444;
    border-color: #444; }
  .dark-theme .avatar, .dark-theme .blockNav-link, .dark-theme .content {
    background-color: transparent; }
  .dark-theme .notes-lineItem {
    border-bottom-color: #999; }
  .dark-theme .projectBlock-sidebox {
    background-color: #222;
    border-color: #999; }
  .dark-theme code, .dark-theme pre {
    color: lime;
    font-weight: bold; }
  .dark-theme hr {
    border-color: #999;
    background-color: transparent; }
  .dark-theme .pageHeader .logoBlock {
    border-bottom-color: #999; }
  .dark-theme .pageHeader .blockNav {
    border-left-color: #999;
    border-right-color: #999; }
  .dark-theme .blockNav-link.is-active {
    border-bottom-color: #999; }
    .dark-theme .blockNav-link.is-active:after {
      border-bottom-color: #999; }
