.resume {
  padding: 2em 0;
  font-size: 80%;
}

.resume-header {
  display: flex;
  justify-content: space-between;
}

.resume-header__title {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 40em;
  flex: 0 0 auto;
}

.resume__title {
  font-weight: normal;
  font-size: 2em;
  line-height: 1em;
  text-transform: uppercase;

  strong {
    font-size: 1.4em;
  }
}

.resume-header__subtitle {
  font-size: 2em;
  font-style: italic;
}

.resume-header__links {
  display: flex;
  justify-content: left;
}

.resume-header__links a {
  margin-right: 2em;
}

.resume .notes-lineItem {
  font-size: 1.1em;
}

.resume-profile {
  .notes-lineItem {
    border: 0;
    white-space: nowrap;
  }
}

.resume-content {
  display: flex;
}
.resume-jobs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  > .notes-title {
    width: 100%;
  }
}
.resume-skills {
  display: flex;
  justify-content: space-between;
  font-size: 5em;
  flex-wrap: wrap;
  width: 3.9em;
  margin-left: auto;
  margin-right: auto;

  [class^="devicon"] {
    min-width: 1em;
  }
}

.resume-skills__tag {
  display: block;
  float: left;
  border: solid 1px goldenrod;
  border-radius: 0.2em;
  padding: 0.4em 0.6em;
  margin-bottom: 0.4em;
  margin-right: 0.4em;
}

.resume-job {
  flex: 0 0 50%;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 2em;
}
.resume-job__company {
  text-transform: uppercase;
  font-size: 1em;
  line-height: 1em;
  letter-spacing: 0.1em;
  margin-bottom: 0;
}
.resume-job__dates {
  text-transform: uppercase;
  font-size: 1em;
  line-height: 1em;
  letter-spacing: 0.1em;
  margin: 0.5em 0;
}

.resume-job__header {
  margin-bottom: 1em;
}
.resume-job__position {
  line-height: 1.2em;
  margin: 0;
}
.resume-job__highlights {
  display: flex;
  clear: both;
  flex-direction: column;
  width: 90%;
}
.resume-job__roles {
  // order: 1;
}
.resume-job__subtitle {
  text-transform: uppercase;
  font-size: 0.7em;
  line-height: 1em;
  display: block;
  color: #aaa;
}
.resume-job__tag {
  display: block;
  float: left;
  border: solid 1px goldenrod;
  border-radius: 0.2em;
  padding: 0.4em 0.6em;
  margin: 0 0.4em 1em 0;
}

.resume__footer {
  text-align: center;
  font-size: 0.8em;
  color: lightslategrey;
}


@media screen and (max-width: 1260px) {
  // .wrapper {
  //   width: 90%;
  //   min-width: 1122px;
  //   border-left-width: 3em;
  //   border-right-width: 3em;
  //   box-sizing: border-box;
  // }

  .resume .notes-lineItem {
    line-height: 1.1em;
    padding: 0.5em 0.5em 0.3em;
  }
}

@media print {
  // body {
  //   font-size: 75%;
  // }
  .print-hidden {
    display: none;
  }
  .wrapper {
    width: auto;
    margin: 0;
    border: solid 1px white;
  }
  .resume {
    padding: 2em 0 0 0;
    font-size: 55%;
  }
  .hBar.invisible {
    visibility: hidden;
  }
  .notes {
    padding: 0;
  }
  .resume-profile .notes-lineItem {
    line-height: 0.8em;
  }
  .resume-header__title {
    width: 35em;
  }
  .resume-header__subtitle {
    line-height: 1em;
  }
  .resume-header__links a {
    color: black;
  }
  .resume-skills {
    font-size: 4.4em;
    margin-left: auto;
    margin-right: 0.5em;
  }
  .resume__footer {
    margin-bottom: 0;
    line-height: 1.2em;
  }
}
