@import 'theme-default';

body {
  font-size: 125%;
}

.cm-logo {
  position: relative;
  top: -0.5em;
  background: white;
  border-radius: 100%;
  padding: 0.3em 1.6em;
}

#v3 .hashlink:before {
  content: '#';
  color: gray;
}

#v3 .hashlink {
  color: goldenrod;
}

#v3 .contentLikes .hashlink:after {
  content: ', ';
  color: gray;
}
#v3 .contentLikes .hashlink:last-child:after {
  content: '';
}

#v3 ::-moz-selection { background: goldenrod; }
#v3 ::selection { background: goldenrod; color: white; }
#v3 img::selection { background: none; color: white; }
#v3 img::-moz-selection { background: none; color: white; }

footer a {
  color: #777 !important;
}

abbr {
  //border-bottom: dotted 1px;
  text-decoration: none;
  cursor: help;
}

.pageHeader .blockNav, .pageHeader .linkNav {
  padding-left: 0;
  width: 28%;
  padding: 0 2%;
  display: inline-block;
}
.pageHeader .blockNav {
  border-right: solid 1px #eee;
}
.blockNav-item {
  display: block;
}
.blockNav-link {
  float: none;
  text-align: right;
  border: solid 1px transparent;
  border-bottom-color: #eee;
}
.blockNav-item:last-child .blockNav-link {
  border-bottom-color: transparent;
}
.blockNav-title {
  float: none;
}

.linkNav-item {
  display: inline-block;
  margin: 0;
}
.sidebar .linkNav-link {
  font-size: 1em;
}
.sidebar .linkNav-title {
  line-height: 2em;
}
.pageHeader .linkNav-link {
  border: solid 1px lighten(#888, 35%);
}

.projectBlock {
  border-radius: 0.3em;
  border-top: dotted 1px #aaa;
  // min-width: 25em;
  max-width: 100%;
}
.projectBlock .notes-lineItem {
  text-align: center;
}
.projectBlock-title {
  border-top: 0;
  text-align: center;
}
.projectBlock-title .icon {
  display: block;
  background: white;
  border-radius: 100%;
  width: 2em;
  margin: -0.5em auto 0.3em;
  font-size: 2em;
  line-height: 1.2em;
}
.projectBlock-sidebox {
  background: oldlace;
  border: 3px solid burlywood;
  border-radius: 0.3em;
  left: 105%;
  box-sizing: border-box;
  opacity: 0.9;
}
.projectBlock-titleAlt {
  border-top: 0;
  color: brown;
}
.projectBlock .bulletList-item {
  display: inline-block;
  color: rosybrown;
  border-bottom: 1px solid rosybrown;
  font-style: normal;
  margin-right: 0.7em;
}

.notes-title {
  margin-bottom: 1em;
}

#ds-org-rankings-grid .icon {
  position: relative;
  top: -0.2em;
}

#shredlove .icon {
  position: relative;
  top: -0.1em;
  width: 2.6em;
}

#danny .icon, #ben .icon,
#don .icon, #rob .icon,
#shredlove .icon, #trent .icon {
  margin-top: -0.6em;
}

@media (max-width: 1024px) {
  .pageHeader .logoBlock {
    border-bottom: dotted 1px #ddd;
  }
  .pageHeader .blockNav {
    border-top: 0;
    width: 46%;
  }
  .pageHeader .linkNav {
    border-top: 0;
    width: 37%;
  }
  .pageHeader .blockNav-link {
    display: block;
    border: solid 1px transparent;
    border-bottom-color: #eee;
  }

  .projectBlock-sidebox {
    padding: 0.5em 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
  }
  .projectBlock-info {
    .notes {
      margin-bottom: 0;
    }
  }

  .projectBlock-title .icon {
    margin-top: -0.8em;
  }

  #ds-org-rankings-grid .icon {
    top: -0.1em;
  }

  #danny .icon, #ben .icon,
  #don .icon, #rob .icon,
  #shredlove .icon, #trent .icon {
    margin-top: -0.8em;
  }
}


@media (max-width: 590px) {
  .pageHeader .blockNav, .pageHeader .linkNav {
    width: 90%;
    border-right: 0;
    margin: 0;
    padding: 1em;
  }
  .pageHeader .blockNav:before, .pageHeader .linkNav:before {
    // content: 'Projects:';
    text-transform: uppercase;
    text-align: left;
    font-size: 1em;
    display: block;
    color: #aaa;
    margin-bottom: 0;
    padding-top: 2em;
    padding-left: 1em;
    padding-bottom: 0.5em;
    font-weight: bold;
  }
  .pageHeader .blockNav-link {
    text-align: left;
  }

  // .projectBlock-title .icon {
  //   margin-top: -0.7em;
  // }
}

.contentMain {
  .sidebar {
    font-size: 80%;
  }
  .content {
    font-size: 70%;
  }
}

.light-switch {
  background: none;
  border: none;
  font-size: 4em;
  position: fixed;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

@import 'dark';
@import 'resume';
